branch/brutos-core/src/main/java/brutos_1_1.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
  Brutos Web MVC http://brutos.sourceforge.net/
  Copyright (C) 2009 Afonso Brandao. (afonso.rbn@gmail.com)
  
  This library is free software. You can redistribute it 
  and/or modify it under the terms of the GNU General Public
  License (GPL) version 3.0 or (at your option) any later 
  version.
  You may obtain a copy of the License at
  
  http://www.gnu.org/licenses/gpl.html 
  
  Distributed WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, 
  either express or implied.
-->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:ns="http://brutos.sourceforge.net/targetNS"
            targetNamespace="http://brutos.sourceforge.net/targetNS"
            xmlns="http://brutos.sourceforge.net/targetNS"
            elementFormDefault="qualified">

  <xsd:element name="brutos-configuration">
      <xsd:complexType>
        <xsd:all>

          <!-- *************************************************************** -->
          
          <xsd:element name="context-params" minOccurs="0" maxOccurs="1">
              <xsd:complexType>
                  <xsd:sequence>
                      <xsd:element name="context-param" maxOccurs="unbounded">
                          <xsd:complexType>
                            <xsd:attribute name="name" type="xsd:string" use="required"/>
                            <xsd:attribute name="value" type="xsd:string" use="required"/>
                          </xsd:complexType>
                      </xsd:element>
                  </xsd:sequence>
              </xsd:complexType>     
          </xsd:element>
          
          <!-- *************************************************************** -->
          
          <xsd:element name="types" minOccurs="0" maxOccurs="1">
              <xsd:complexType>
                  <xsd:sequence>
                      <xsd:element name="type" maxOccurs="unbounded">
                          <xsd:complexType>
                            <xsd:attribute name="class-type" type="xsd:string" use="required"/>
                            <xsd:attribute name="factory" type="xsd:string" use="required"/>
                          </xsd:complexType>
                      </xsd:element>
                  </xsd:sequence>
              </xsd:complexType>
          </xsd:element>

          <!-- *************************************************************** -->

          <xsd:element name="interceptors" type="interceptors" minOccurs="0" maxOccurs="1"/>
          
          <!-- *************************************************************** -->
          <xsd:element name="controllers" minOccurs="0" maxOccurs="1">
              <xsd:complexType>
                  <xsd:sequence>
                      <xsd:element name="controller" type="controller" maxOccurs="unbounded"/>
                  </xsd:sequence>
              </xsd:complexType>     
          </xsd:element>

          <!-- *************************************************************** -->
          
        </xsd:all>
        <xsd:attribute name="version" default="1.1">
            <xsd:simpleType>
                <xsd:restriction base="xsd:token">
                  <xsd:pattern value="[0-9]+(\.[0-9]+)*"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
      </xsd:complexType>
  </xsd:element>
  
  <!-- *************************************************************** -->
  
  <xsd:complexType name="controller">
      <xsd:sequence>
          <xsd:element name="alias" minOccurs="0" type="alias" maxOccurs="unbounded"/>
          <xsd:element name="interceptor-ref" type="interceptor-ref" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="bean" type="mapping-bean" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="collection" type="mapping-collection" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="map" type="mapping-map" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="throw-safe" minOccurs="0" type="throw-safe" maxOccurs="unbounded"/>
          <xsd:element name="throw-safe-default" minOccurs="0" type="throw-safe" maxOccurs="1"/>
          <xsd:element name="property" type="controller-property" minOccurs="0" maxOccurs="unbounded"/>
          <xsd:element name="action" type="action" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
      <xsd:attribute name="id" type="xsd:string" use="required"/>
      <xsd:attribute name="dispatcher" type="dispatcher" default="forward"/>
      <xsd:attribute name="view" type="xsd:string"/>
      <xsd:attribute name="name" type="xsd:string"/>
      <xsd:attribute name="class" type="xsd:string"/>
      <xsd:attribute name="scope" type="xsd:string" default="request"/>
      <xsd:attribute name="action-id" type="xsd:string" default="invoke"/>
      <xsd:attribute name="default-action" type="xsd:string"/>
  </xsd:complexType>     

  <!-- *************************************************************** -->
  
  <xsd:complexType name="action">
    <xsd:sequence>
        <xsd:element name="arg" minOccurs="0"
                     type="parameter" maxOccurs="unbounded"/>
        <xsd:element name="throw-safe" minOccurs="0"
                     type="throw-safe" maxOccurs="unbounded"/>
        <xsd:element name="throw-safe-default" minOccurs="0"
                     type="throw-safe" maxOccurs="1"/>
    </xsd:sequence>
    <xsd:attribute name="name" type="xsd:string" use="required"/>
    <xsd:attribute name="method" type="xsd:string"/>
    <xsd:attribute name="result" type="xsd:string"/>
    <xsd:attribute name="view" type="xsd:string"/>
    <xsd:attribute name="dispatcher" type="dispatcher" default="forward"/>
  </xsd:complexType>

  <!-- *************************************************************** -->

  <xsd:complexType name="throw-safe">
      <xsd:attribute name="view" type="xsd:string"/>
      <xsd:attribute name="target" type="xsd:string" use="required"/>
      <xsd:attribute name="name" type="xsd:string"/>
      <xsd:attribute name="dispatcher" type="dispatcher" default="forward"/>
  </xsd:complexType>

  <!-- *************************************************************** -->

  <xsd:complexType name="mapping-bean">
    <xsd:sequence>
        <xsd:element name="property" type="property" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="name" type="xsd:string"/>
    <xsd:attribute name="target" type="xsd:string" use="required"/>
  </xsd:complexType>

  <!-- *************************************************************** -->

  <xsd:complexType name="mapping-collection">
    <xsd:choice>
        <xsd:element name="bean" type="mapping-bean"/>
        <xsd:element name="ref" type="mapping-ref"/>
        <xsd:element name="collection" type="mapping-collection"/>
        <xsd:element name="map" type="mapping-map"/>
    </xsd:choice>
    <xsd:attribute name="name" type="xsd:string"/>
    <xsd:attribute name="target" type="xsd:string" default="java.util.LinkedList"/>
  </xsd:complexType>

  <!-- *************************************************************** -->
  
  <xsd:complexType name="mapping-map">
      <xsd:sequence>
          <xsd:element name="key" type="mapping-key"  minOccurs="1" maxOccurs="1"/>
            <xsd:choice>
                <xsd:element name="bean" type="mapping-bean"/>
                <xsd:element name="ref" type="mapping-ref"/>
                <xsd:element name="collection" type="mapping-collection"/>
                <xsd:element name="map" type="mapping-map"/>
            </xsd:choice>
      </xsd:sequence>
    <xsd:attribute name="name" type="xsd:string"/>
    <xsd:attribute name="target" type="xsd:string" default="java.util.HashMap"/>
  </xsd:complexType>

  <!-- *************************************************************** -->

  <xsd:complexType name="mapping-key">
    <xsd:attribute name="name" type="xsd:string" use="required"/>
    <xsd:attribute name="type" type="xsd:string" use="required"/>
    <xsd:attribute name="scope" type="xsd:string" default="request"/>
  </xsd:complexType>

  <!-- *************************************************************** -->

  <xsd:complexType name="mapping-ref">
    <xsd:attribute name="name" type="xsd:string" use="required"/>
  </xsd:complexType>

  
  <!-- *************************************************************** -->

  <xsd:simpleType name="dispatcher">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="include"/>
        <xsd:enumeration value="forward"/>
        <xsd:enumeration value="redirect"/>
    </xsd:restriction>
  </xsd:simpleType>

  <!-- *************************************************************** -->

  <xsd:simpleType name="enum">
    <xsd:restriction base="xsd:string">
        <xsd:enumeration value="ordinal"/>
        <xsd:enumeration value="string"/>
    </xsd:restriction>
  </xsd:simpleType>
  
  <!-- *************************************************************** -->

  <xsd:complexType name="property">
      <xsd:sequence>
          <xsd:element name="restriction"/>
      </xsd:sequence>
      <xsd:attribute name="name" type="xsd:string"  default=""/>
      <xsd:attribute name="property-name" type="xsd:string" use="required"/>
      <xsd:attribute name="enum-property" type="enum" default="ordinal"/>
      <xsd:attribute name="temporal-property" type="xsd:string" default="dd/MM/yyyy"/>
      <xsd:attribute name="mapping-name" type="xsd:string"/>
      <xsd:attribute name="scope" type="xsd:string" default="request"/>
      <xsd:attribute name="factory" type="xsd:string"/>
  </xsd:complexType>

  <!-- *************************************************************** -->

  <xsd:complexType name="controller-property">
      <xsd:attribute name="name" type="xsd:string"/>
      <xsd:attribute name="property-name" type="xsd:string" use="required"/>
      <xsd:attribute name="enum-property" type="enum" default="ordinal"/>
      <xsd:attribute name="temporal-property" type="xsd:string" default="dd/MM/yyyy"/>
      <xsd:attribute name="mapping-name" type="xsd:string"/>
      <xsd:attribute name="scope" type="xsd:string" default="request"/>
      <xsd:attribute name="factory" type="xsd:string"/>
  </xsd:complexType>

  <!-- *************************************************************** -->
  
  <xsd:complexType name="parameter">
      <xsd:attribute name="name" type="xsd:string" use="required"/>
      <xsd:attribute name="type" type="xsd:string" use="required"/>
      <xsd:attribute name="enum-property" type="enum" default="ordinal"/>
      <xsd:attribute name="temporal-property" type="xsd:string" default="dd/MM/yyyy"/>
      <xsd:attribute name="mapping-name" type="xsd:string"/>
      <xsd:attribute name="scope" type="xsd:string" default="request"/>
      <xsd:attribute name="factory" type="xsd:string"/>
  </xsd:complexType>

  <!-- *************************************************************** -->
  
    <xsd:complexType name="interceptors">
        <xsd:sequence>
            <xsd:element name="interceptor" type="interceptor" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="interceptor-stack" type="interceptor-stack" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

  <!-- *************************************************************** -->
  
    <xsd:complexType name="interceptor">
        <xsd:sequence>
            <xsd:element name="param" type="param" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="class" type="xsd:string"/>
        <xsd:attribute name="default" type="xsd:boolean"/>
    </xsd:complexType>

  <!-- *************************************************************** -->
  
    <xsd:complexType name="param">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="name" type="xsd:string" use="required"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    
  <!-- *************************************************************** -->
  
    <xsd:complexType name="alias">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string"/>
        </xsd:simpleContent>
    </xsd:complexType>

  <!-- *************************************************************** -->
  
    <xsd:complexType name="interceptor-ref">
        <xsd:sequence>
            <xsd:element name="param" type="param" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:string"/>
    </xsd:complexType>

  <!-- *************************************************************** -->
  
    <xsd:complexType name="interceptor-stack">
        <xsd:sequence>
            <xsd:element name="interceptor-ref" type="interceptor-ref" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:string"/>
        <xsd:attribute name="default" type="xsd:boolean"/>
    </xsd:complexType>  
    
</xsd:schema>
